<!-- <div mat-dialog-content>
    <p>You have successfully logged out!</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->
  <div class="d">
    <h1 mat-dialog-title>Message</h1>
    <mat-dialog-content>
      You have successfully logged out!
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button type="button" mat-dialog-close>Ok</button>
    </mat-dialog-actions>
    </div>
  